mixin globalHead(cssPath="../sass/index.scss", title="Learn Animations | Brink Technology Co.")
  //- add google fonts
  link(
    href="https://fonts.googleapis.com/css?family=Literata|Open+Sans|Source+Sans+Pro|Roboto&display=swap"
    rel="stylesheet"
  )
  link(
    href=cssPath
    rel="stylesheet"
  )
  title= title
